<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
	<link rel="shortcut icon" type="image/png" href="static/logo_black.png" />

	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body>
	<header>
		<div class="container">
			<h1>Physics</h1>
			<p>
				Demonstrate physics phenomenon to your class graphically, from your browser.
				Allow your students to work out the spring constant of a material without having to set up any equipment.
				Perfect for A Level physics and some GCSE topics.
			</p>
			<!-- <p id="course-selector">
				Course:
				<a id="a-levels" class="selected">A Level</a>
			</p> -->
		</div>
	</header>

	<main class="container">
		<p id="loading">
			Loading simulations...
		</p>
		<ul id="sections"></ul>
		<p id="fail">
			Javascript is required to run these simulations.
			Please <a href="http://www.enable-javascript.com/" target="_blank">Enable</a>
		</p>
		<script>
			function isCanvasSupported(){
				var elem = document.createElement('canvas');
				return !!(elem.getContext && elem.getContext('2d'));
			}

			const jsBanner = document.getElementById("fail");

			if (isCanvasSupported()) {
				jsBanner.remove();
			} else {
				jsBanner.innerText =
					"Your browser cannot run these simulations, because canvases are not supported. Please install Chrome or Firefox.";
			}
		</script>
		<footer>
			<p>
				Created by <a href="https://rubenwardy.com/">rubenwardy</a> |
				License: GPLv3+ |
				<a href="http://gitlab.com/rubenwardy/physics/releases">Download for Offline Use</a> |
				<a href="https://gitlab.com/rubenwardy/physics">Source Code</a>
			</p>

			<p class="smalltext">
				This site categorises its content to match selected courses, but is not certified or approved in any way.<br>
				No warranty or guarantee is made on the accuracy of any simulations.
			</p>
		</footer>
	</main>

	<script>
		const simulations = <%= JSON.stringify(htmlWebpackPlugin.options.sims) %>;
	</script>

	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
