<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
	<link rel="shortcut icon" type="image/png" href="static/logo_black.png" />

	<meta name="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
	<meta name="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
	<!-- <meta name="og:image" content="static/"/> -->
	<meta name="og:url" content="https://physics.rubenwardy.com/beta/<%= htmlWebpackPlugin.options.filename %>" />
	<link rel="canonical" href="https://physics.rubenwardy.com/beta/<%= htmlWebpackPlugin.options.filename %>" />
</head>
<body>
</body>
</html>
