html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	background: var(--color-background);
	color: var(--color-text);
	user-select: none;

	width: 100%;
	height: 100%;
}

#canvas {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: none;
}

h1 {
	margin-top: 0;
}

#fail {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, #ed213a, #93291e);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	padding: 1em;
	display: block;
	color: white;
	text-align: center;
	margin: 0;

	a {
		color: white;
	}
	a:hover {
		color: lightcoral;
	}
}
