input {
	user-select: text;
}

input, select {
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid transparent;
	color: var(--color-text);
}

.btn, .btn-group a, .btn-group span {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	margin: 0.25rem 0.25rem 0.25rem 0;
	font-size: 0.9375rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid transparent;
	color: white;
	transition: color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out,
		filter 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	cursor: pointer;

	&:hover, &.active {
		color: white;
		text-decoration: none;
		background: rgba(255, 255, 255, 0.2);
	}
}


#bottompanel {
	position: fixed;
	bottom: 10px;
	left: 10px;

	list-style: none;
	margin: 0;
	padding: 0;

	& > li {
		margin: 0;
		padding: 0 10px 0 0;
		display: inline-block;
	}
}

.btn-group {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;

	li {
		margin: 0;
		padding: 0;
		display: inline-block;
		font-size: 12pt;
	}

	a, span {
		border-radius: 0;
		margin: 0;
	}

	& > li:first-child {
		a, span {
			border-radius: 3px 0 0 3px;
		}
	}

	& > li:last-child {
		a, span {
			border-radius: 0 3px 3px 0;
		}
	}
}


.light_mode {
	input, select {
		border: 1px solid var(--color-border);
		background: none;
	}

	.btn, .btn-group a, .btn-group span {
		border: 1px solid var(--color-border);
		background: none;
		color: black;

		&:hover, &.active {
			background: var(--color-primary);
			border-color: var(--color-primary);
		}
	}
}

.row {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin-left: -0.5em;
	margin-right: -0.5em;

	& > * {
		display: inline-block;
		flex-grow: 1;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}

.row.row-narrow {
	margin-left: -0.25em;
	margin-right: -0.25em;

	& > * {
		display: inline-block;
		flex-grow: 1;
		margin-left: 0.25em;
		margin-right: 0.25em;
	}
}

.row.row-wrap {
	flex-wrap: wrap;
	margin: -0.5em;

	& > * {
		margin: 0.5em;
	}
}

.field {
	label {
		display: block;
		margin: 0.4em 0;
		padding: 0;
	}

	input {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}

	.unit {
		font-size: 90%;
		opacity: 0.75;
		padding-left: 0.75em;
	}
}

.panel {
	display: block;
	margin: 0;
	padding: 0.6em 1em;
	border: 1px solid var(--color-border);
	color: var(--color-text);
	border-radius: 3px;
	text-decoration: none;

	background: rgba(17, 17, 17, 0.1);
	backdrop-filter: blur(6px);
}

.panel-info {
	position: fixed;
	top: 10px;
	right: 10px;
	opacity: 0.6;

	&:hover {
		opacity: 0.9;
	}
}

.panel-info-min-width {
	min-width: 220px;
}

.dialog {
	position: fixed;
	bottom: 100px;
	left: 10px;
	min-width: 180px;
	max-width: 320px;
	padding: 0;

	&.dialog-right {
		left: auto;
		right: 10px;
		bottom: 10px;
	}

	.dialog-head {
		margin: 0;
		padding: 0 0.5em;
		display: flex;

		h2 {
			margin: 0;
			padding: 0.8em 0.5em;
			font-size: 100%;
			flex-grow: 1;
			vertical-align: middle;
		}

		& > a {
			display: inline-block;
			margin: 0.4em 0;
			padding: 0.4em 0.8em;

			&:hover {
				background: #222;
			}
		}
	}

	.dialog-body {
		max-height: 600px;
		overflow: hidden auto;
		padding: 0 1em 1em 1em;

		& > p {
			margin: 0;
		}

		& > *:not(:last-child) {
			margin-bottom: 1em;
		}
	}
}

.dialog-minimised .dialog-body {
	display: none;
}

.dialog-transparent {
	position: fixed;
	min-width: 180px;
	max-width: 270px;
}

.table {
	.unit {
		font-size: 90%;
		opacity: 0.75;
		padding-left: 0.2em;
	}

	th:not(:last-child), td:not(:last-child) {
		padding: 0 1em 0 0; //0.3em;
	}

	.left {
		text-align: left;
	}

	.right {
		text-align: right;
	}

	.center {
		text-align: center;
	}
}

.body-icon {
	display: inline-block;
	width: 0.9em;
	height: 0.9em;
	border-radius: 1em;
	margin-right: 0.2em;
}
