:root {
	--color-background: black;
	--color-text: #f0f0f0;
	--color-primary: #c6426e;
	--color-border: #222;
}

.light_mode {
	--color-background: white;
	--color-text: #222;
	--color-primary: #c6426e;
	--color-border: #999;
}

@import "base";
@import "components";
@import "home";
@import "simgrid";
